*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Impact;
}
body{
  background-image: url('https://github.com/MarianaAgudeloO/Data-lovers/blob/f47be1638d02323ef2bd4c07ec5760ed1af10391/src/images/background1.png?raw=true');
  background-repeat: no-repeat;
	background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
.none{
  display: none;
}
/* Estilos header */
.menu{
  background: linear-gradient(to right, #E2E25A, #4F872C);
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}
.logo{
  padding: 0 80px;
  }
.browser{
    display: flex;
    list-style: none;
    margin-right: 30px;
  }
.boxSelect{
    width: 130px;
    border-radius: 20px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    border-color: #1a4f28;
    box-shadow: 5px 0 10px #1a4f28;
  }
.btn{
    padding: 4px;
    width: 80px;
    border-radius: 12px;
    cursor: pointer;
    border-color: #1a4f28;
    box-shadow: 5px 0 10px #1a4f28;
    background-color: #bef7ab;
  }
.btn:hover{
    background-color: #b5f54e;
    box-shadow: 5px 0 10px #b5f54e;
    transition: .4s;
  }
.browser li{
    border-radius: 3px;
    margin: 0 5px;
  }
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    font-style: solid;
    color: #fff;
    cursor: pointer;
    display: none;
  }
ul.show{
    top: 65px;
  }
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
h1{
    font-family: "Electrolize";
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    margin-top: 30px;
    padding: 20px 0;
  }
  .image{
    padding-top: 40px;
  }

/*Estilos main */
#resultCount{
  margin-top: 40px;
  text-align: center;
  margin: 40px;  
}
.cardContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 70px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 20px;
  width: 300px;
  height: 310px;
  border-style: solid;
  border-color: black;
  text-align: center;
  background-color: aliceblue;
  color: black;
  border-radius: 15px;
  box-shadow: 10px 5px 5px  #5A9C3B;
}
.imgCard{
  width: 260px;
  height: 250px;
  border-radius: 10px;
}
.cardCenter {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .cardCenter {
  transform: rotateY(180deg);
}

.cardFront {    
  backface-visibility: hidden;
}
.cardBack {
  position:fixed;
  top: 20px;
  padding: 15px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
#mainName{
  margin: 5px;
}
#btnSearchMobile {
  display: none;
}

/* Responsive */

@media screen and (max-width: 990px) {
  .boxSelect{
    width: 100px;
    border-radius: 20px;
    height: 30px;
    text-align: center;
  } 
  .btn{
    width: 60px;
  } 
}
/*Mobile*/
@media screen and (max-width: 858px) {
  .menu{
    height: 65px;
    position: fixed;
  }
  .btn_menu{
    display: inline-flex;
  }
  .browser{
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: linear-gradient(to right, #E2E25A, #4F872C);
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .browser li{
    margin: 40px;
    line-height: 30px;
  }
  .searchBox{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .boxSelect{
    width: 130px;
    border-radius: 20px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
  }
  #searchText{
    margin-bottom: 10px;
  }

  .logo{
    font-size: 25px;
    padding-left: 35px;
  }
  h1{
    font-family: "Electrolize";
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    padding-top: 90px;
  }
  .image{
    width: 160px;
    height: 170px;
    padding-top: 20px;
  }
  .cardContainer{
    padding: 10px;
  }
  .card{
    padding: 10px;
    margin: 15px;
    width: 210px;
    height: 220px;
    border-radius: 10px;
    font-size: 16px;
  }
  .imgCard{
    width: 170px;
    height: 170px;
    border-radius: 8px;
  }
  #mainName{
    margin: 1px;
  }
}



